/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text-sec1-2:white;
	--color-background:#eee;
}


/****************/
/* JOUW STYLING */
/****************/

html {
	font-family: 'Montserrat', sans-serif;
}

/*NOG AANPASSEN */
a:focus-visible {
	background-color: hotpink;
	border: 10px dashed hotpink;
}

/* Algemene styling */

body {
	margin: 0;
	padding: 0;
	
}

.productpagina main {
	padding: 1em;
	max-width: 60em;
	margin: auto;
}

p {
	margin-top: 0.4rem;
}

h3, p {
	text-align: center;
}

h3 {
	color: black;
}

h2 {
	text-decoration: underline red;
	margin-left: 0.9em;
	margin-right: 0.9em;
}

img {
	max-width: 100%;
}

iframe {  
	width: 100%;
	height: 100%;
	max-width: 50em;
	margin-top: 3rem;
	aspect-ratio: 16/9;
}

ul {
	margin:0;
	padding: 0;
}

li {
	list-style-type: none;
}

a:link {
	text-decoration: none;
}

/*STYLING HOMEPAGINA **************************************************************************************************************************************/

/* Styling eerste section */

/*Om h1 onzichtbaar te maken op een manier dat de screenreader het wel leest*/
Body header h1{
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

section:first-of-type p {  
	color: var(--color-text-sec1-2);
	text-decoration: none;
	text-align: center;
}

span {
	display: block;
	font-weight: bold;
	font-size: 60 px;
}

section:first-of-type img {
	display: block;
	margin: auto;
}

div {
	background-color: black;
	padding: 3em;
}

section:first-of-type a:nth-of-type(2) {
	background-color: black;
}

/* buttons eerste sectie*/

section:first-of-type a {
	background-color: red;
	color: white;
	text-decoration: none;
	font-size: 1.5em;
	padding: 0.3em;
	display: flex;
	justify-content: center;
}

/* Styling tweede section */

section:nth-of-type(2) h3 {
	color: white;
}

section:nth-of-type(2) > ul > li > a > p, h3 {
	color: var(--color-text-sec1-2);
}

section:nth-of-type(2) a {
	background-color: red;
	margin: 0.8em;
}

section:nth-of-type(2) ul {
	display: grid;	
	grid-template-columns: 1fr 1fr;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr) ); 
}

section:nth-of-type(2) li {
	display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Styling derde section */

section:nth-of-type(3) ul {
	display: grid;	
	grid-template-columns: 1fr 1fr;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) ); 
}

section:nth-of-type(3) a {
	display: flex;
    flex-direction: column;
	align-items: center;
	margin: 0.9em;
}

section:nth-of-type(3) li img {
	width: 150px;
	height: 450px;
}

section:nth-of-type(3) p { 
	text-align: left;
	align-self: start;
}

/* Styling vierde section KIJKEN NAAR ANDERS STIJLEN GROOT SCHERM*/

section:nth-of-type(4) h2 { /* HOE MARGIN KORTER SCHRIJVEN EN HOE STREEP ONDER 'FENDER FEED' WEG */
	text-align: center;
	background-color: red;
	margin-left: 0.4em;
	margin-right: 0.4em;
	margin-top: 1rem;
	margin-bottom: 0;
	padding: 1rem;
	color: white;
}

section:nth-of-type(4) a {
	border: 2px solid black;
	display: block;
}

section:nth-of-type(4) h3, p {
	color: #111;
}

section:nth-of-type(4) li {
	margin: 10px;
}

section:nth-of-type(4) li:first-of-type {
	margin: 0 10px 10px 10px;
}
section:nth-of-type(4) ul {
	display: grid;	
	grid-template-columns: 1fr 1fr;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr) ); 
}

/* styling vijfde section */

section:nth-of-type(5) ul {
	display: grid;	
	grid-template-columns: 1fr 1fr;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) ); 
}

section:nth-of-type(5) a {
	display: flex;
    flex-direction: column;
	align-items: center;
	margin: 0.9em;
}

section:nth-of-type(5) li img {
	width: 200px;
	height: 200px;
}

section:nth-of-type(5) p {  
	text-align: left;
	align-self: start;
}

footer {
	background-color: #111;
	color: white;
	Padding: 3em;
}


/*STYLING PRODUCTPAGINA **************************************************************************************************************************************/

/*Algemene styling*/

.productpagina h2 {
	text-align: left;
	color:#111;
}

.productpagina h3 {
	color: #111;
}

/* Styling eerste section*/

.productpagina section:first-of-type {
	background-color: white;
}

.productpagina section:first-of-type p:first-of-type {
	font-weight: normal;
}

.productpagina section:first-of-type p:nth-of-type(7) {
	max-width: 50em;
}

.productpagina section:first-of-type p {
	text-align: left;
	color: #111;
	border: none;
}

.productpagina section:first-of-type p:nth-of-type(2), p:nth-of-type(3) {
	font-weight: bold;
	font-size: 17px;
}

.productpagina section:first-of-type p:nth-of-type(4) {
	font-size: 20px;
	font-weight: bold;
	margin-top: 1em;
}

.productpagina section:first-of-type p:nth-of-type(5) {
	font-weight: normal;
}

/*kleuren links*/
.productpagina section:first-of-type ul:first-of-type {
	display: flex;
}

.productpagina section:first-of-type a {
	background-color: white;
	justify-content: flex-start;
}

.productpagina section:first-of-type a img {
	max-width: 30px;
	max-height: 30px;
	margin: 0;
}

/* Productfoto slider*/
@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
	}
	
	body, figure { 
	  margin: 0;
	}

	.productpagina section:first-of-type { 
	  width: 100%; 
	  overflow: hidden; 
	}

	.productpagina main section:first-of-type figure {
		position: relative; 
		width: 500%;
		font-size: 0; 
		animation: 30s slidy infinite; 
	}

	.productpagina main section:first-of-type figure img { 
		height: auto; 
		width: 20%; 
		display: inline-block;  
		position: inherit; 
	}


/* .productpagina section:first-of-type img {
	background-color: #f9f9f9;
} */

/* Styling tweede section */

.productpagina section:nth-of-type(2) > ul {
	display: block;
}

.productpagina section:nth-of-type(2) > ul > li { 
	display: list-item;
	list-style-type: square;
	margin-left: 1rem;
	margin-top: 0.5rem;;
}

.productpagina section:nth-of-type(2) h2 {
	margin-left: 0;
}

/* Styling derde section*/

details img {
	margin-top: 1em;
	margin-bottom: 1em;
}


details summary {
	font-size: 18px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-weight: bold;
	/* list-style: none; */
	padding: 2px 6px;
    border-bottom: 1px solid;
	max-width: 44.5em;
}

.productpagina section:nth-last-of-type(3) details p:first-of-type, p:nth-of-type(3), p:nth-of-type(5){ 
	font-weight: bold;
	padding-bottom: 1em;
	border-bottom: 1px solid;
	max-width: 50em;
	font-size: 16px;
}

details p:nth-of-type(2), p:nth-of-type(4), p:nth-of-type(6){
	max-width: 50em;
}

/* .productpagina details:nth-of-type(2) > img {
   display: block;
   margin-left: 10em;
} */

.productpagina details:nth-of-type(2) p, p:first-of-type {
	font-weight: bold;
	border-bottom: 1px solid;
	padding-bottom: 1em;
	max-width: 50em;
}

table td {
	padding: 0 3em 1em 0;
	border-bottom: 1px solid;
	
}

table th {
	display: none;
}

tr td:first-of-type, td:nth-of-type(3), td:nth-of-type(5),td:nth-of-type(7) {
	font-weight: bold;
}

/* Styling vierde section */

.productpagina section:nth-of-type(4) ul {
	display: grid;	
	grid-template-columns: 1fr 1fr;
	grid-template-columns: repeat(auto-fit, minmax(175px, 1fr) ); 
}

.productpagina section:nth-of-type(4) a {
	display: flex;
    flex-direction: column;
	align-items: center;
	margin: 0;
	border-style: none;
}

.productpagina section:nth-of-type(4) li img {
	width: 200px;
	height: 200px;
}

.productpagina section:nth-of-type(4) p {  
	text-align: left;
	align-self: start;
}

 .productpagina section:nth-of-type(4) h2 {
	color: black;
	background-color: white;
	text-decoration-style: dotted;
	text-align: left;
	margin-left: 0;
	padding-left: 0;
}

/*section:nth-of-type(4) p {
	font-size: small;
}

.productpagina section:nth-of-type(4) a {
	display: flex;
    flex-direction: column;
	align-items: center;
	border-style: none;
}

.productpagina section:nth-of-type(4) ul { 
    display: grid;	
	grid-template-columns: 1fr 1fr;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) ); 
} */

/* Styling hamburger menu  NOG MOOI MAKEN EN LINKJES GOED ZETTEN IN HTML. KAN RESPONSIVE ALS TIJD OVER*/ 

header {
	position:sticky;
	top:0;
	z-index: 1;
}

header ul {
	min-height:4em;
	padding:0 1em;
	line-height:1;
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color: white;
	opacity: 90%;
}

header img {
	width: 70px; 
	height: 50px;
}

header button {
	padding:.5em;
	display:flex;
	align-items:center;
	gap:.25em;

	appearance:none;
	border:none;
	border-radius:.25em; 
	font:inherit;
	text-align:center;
  }
  
  header button img {
	height:1.5em;
	width: 2em;
  }

  header > button {
	order:-1;
  }
  
  nav button {
	justify-self:start;
   }
   
   nav { 
	padding:1em;
	display:grid;
	align-content:start;
	gap:1em;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color: white;
	
	transform:translatex(-100%);
	
	transition:transform .3s;
  }

  nav ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1em;
  }
  
  nav.toonMenu {
	transform:translatex(0);
  }

  nav a {
	display:flex;
	align-items:center;
	column-gap:0.25em;
	
	border-bottom:solid 1px;
  }
  
  nav a img {
	width:auto;
	height:2em;
  }
  
  nav a.active {
	font-weight:bold;
  }

  /* WERKT NIET< DAN STAAT DE SLUIT BUTTON IN FOCUS EN GAAT HET MENU NIET MEER DICHT*
   nav:focus-within, :checked + nav {
	transform:translate(0);
  } */ 

  /*Styling footer*/

 footer {
	padding: 1em;
 }
  
 form {
	display:flex;
  	flex-direction:row;
	border:1px solid white;
	padding: 1em;
	background-color: black;
 }
 
 form input {
	color: white;
	background-color: black;
	width: 90vw;
	border-style: hidden;
  }

  form input::placeholder {
	color: white;
	font-size: 16px;
	
  }

  form button {
	border-color: red;
	color: white;
	background-color: red;
	font-weight: bold;
	font-size:16px;
	width: 10em;
	padding: 0.5em;

  }

  footer img:first-of-type {
	width: 120px; 
	height: 120px;
  }

  footer p {
	color: white;
	text-align: left;
	margin-bottom: 2em;
	margin-top: 0;
  }

  footer div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
	padding: 0;
	margin-top: 1em;
  }

  footer ul {
	margin-right: 5em;
  }

  footer ul li a {
	color: white;
  }

 footer h4{
	font-size: 25px;
 } 
 
 footer h5 {
	margin-bottom: 1em;
	font-size: 16px;
  }

  
  
  


  



/* mediaquery gebruiken voor responsive */

/* section:nth-of-type(4) > ul:nth-of-type(4) > li : hiermee spreek je de 4e section aan, de 4e ul in die section en dan de list items */